.menu-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    color: var(--dull-grey);
    font-size: 0.75rem;
    margin-top: 30px;
}