.menu-options-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--black-square-color);
    width: 100%;
}

.menu-option-button{
    display: flex;
    background-color: inherit;
    color: var(--light-color);
    font-size: 1rem;
    padding: 5px;
    border:none;
    cursor: pointer;
}

.menu-option-button:hover{
    box-shadow: 2px 2px 5px var(--black-square-color);
}

.menu-option-button img{
    display: none;
}

@media only screen and (min-width: 600px) {
    .menu-options-div{
        flex-direction: column;
        width: 20%;
        border: none;
        background-color: var(--dark-color);
        align-items: center;
        justify-content: space-between;
    }

    .menu-option-button{
        flex-direction: column;
        background-color: var(--black-square-color);
        height: 40%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .menu-option-button img{
        display: block;
        height: 80%;
        padding: 10px;
        aspect-ratio: 1 / 1;
    }
}
