.menu-container{
    display: flex;
    flex-direction: column;
}

.menu-content-div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
}

@media only screen and (min-width: 600px) {
    .menu-content-div{
        flex-direction: row;
        align-items: stretch;
        height: fit-content;
    }
}