.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
}

.control-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.control-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.control-button:hover{
    background-color: black;
    color:white
}

.reminder-panel{
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: antiquewhite;
    justify-content: center;
}

.reminder-text{
    justify-content: center;
}

.other-div{
    display: flex;
    width: 100%;
}

.layout-div{
    display: flex;
}

.timer-div-white{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}

.timer-div-black{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-left: 15px;
}

.top-timer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.bottom-timer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}