.board{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: rgb(236, 255, 127);
    border: 2px solid black;
}

.control-panel{
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /* border: 1px solid black; */
}

.control-button{
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.control-button:hover{
    background-color: black;
    color:white
}

.reminder-panel{
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: antiquewhite;
    justify-content: center;
}

.reminder-text{
    justify-content: center;
}

.layout-div{
    display: flex;
}

.timer-div-white{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}

.timer-div-black{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-left: 15px;
}

.top-timer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.bottom-timer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}