.layout-div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
}

.whiteMove{
    flex-direction: column;
}

.blackMove{
    flex-direction: column-reverse;
}

.control-panel{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.control-button{
    display: flex;
    flex-grow: 1;
    background-color: var(--black-square-color);
    color: var(--light-color);
    justify-content: center;

    border: none;
    font-size:0.75rem;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.control-button:hover{
    box-shadow: 2px 2px 5px var(--black-square-color);
}

.top-timer, .bottom-timer{
    display: flex;
    flex-grow: 1;
    width:100%;
    margin: 5px;
}

.bottom-timer{
    justify-content: end;
}

@media only screen and (min-width: 600px){

    .bottom-timer{
        justify-content: start;
    }

    .bottom-timer::after, .top-timer::after{
        display: flex;
        flex-grow: 1;
        justify-content: end;
        align-items: center;
        content: "White King!";
    }

    .bottom-timer::after{
        content: "Thinking...";
        color: var(--brand-color-dull)
    }
    
    .top-timer::after{
        content: "Waiting...";
    }
}