.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.control-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-button{
    font-size:2vi;
    background-color: black;
    color: antiquewhite;
    padding: 1vi;
    margin-top: 2%;
    margin-bottom: 2%;
}

.control-button:hover{
    color:white;
}

.other-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.layout-div{
    display: flex;
    width: 100%;
    height: 100%;
}

.timer-div-white{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timer-div-black{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
