.square{
    display: flex;
    height: auto;
    min-height: 4.5vi;
    min-width: 4.5vi;
    max-height: 4.5vi;
    max-width: 4.5vi;
    align-items: center;
    justify-content: center;
}

.black-square{
    background-color: rgb(48, 48, 48);
}

.white-square{
    background-color: grey;
}

img{
    width: 4vi;
    height: auto;
}
