.black-square{
    background-color: var(--black-square-color);
}

.white-square{
    background-color: var(--white-square-color);
}

.square{
    display: flex;
    flex-grow: 1;
    width: 11vw;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
}

img{
    width: 80%;
    aspect-ratio: 1 / 1;
}

@media only screen and (min-width: 600px){
    .square {
        flex-grow: 0;
        width: calc(500px / 8);
    }
}

