.active.timer-text-white{
    border: 0.3vi solid red;
}

.active.timer-text-black{
    border: 0.3vi solid red;
}

.timer-text{
    font-size:2vi;
    padding: 0.3vi;
    margin-bottom: 10%;
    border-radius: 10%;
}

.timer-text-white{
    background-color:white;
    color: black;
    border: 0.3vi solid black;
}

.timer-text-black{
    background-color:black;
    color: white;
    border: 0.3vi solid white;
}