.square{
    display: flex;
    width:50px;
    height:50px;
    align-items: center;
    justify-content: center;
}

.black-square{
    background-color: rgb(48, 48, 48);
}

.white-square{
    background-color: grey;
}

.selected-square{
    opacity: 0.8;
}

.possible-square{
    /* background-color:rgb(128, 0, 255); */
    opacity: 0.3;
}
