.square{
    display: flex;
    min-width: 68px;
    min-height: 68px;
    align-items: center;
    justify-content: center;
}

.black-square{
    background-color: rgb(48, 48, 48);
}

.white-square{
    background-color: grey;
}
