.promotion-modal{
    position: fixed; 
    z-index: 1; 
    padding-top: 500px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}

.invisible{
    display: none;
}

.promotion-div{
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}