.promotion-modal{
    position: absolute; 
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0,0,0,0.4);
}

.promotion-div{
    position: relative;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    background-color: var(--black-square-color);
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.promotion-choice img{
    width: 80%;
    aspect-ratio: 1 / 1;
}

.promotion-choice img:hover{
    background-color: var(--brand-color-accent);
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .promotion-div{
        left: 75%;
        top: 0;
        transform: translateX(-50%);
    }
}